In [2]:
from sklearn.datasets import load_boston
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd

In [3]:
boston_dataset=load_boston()

In [4]:
boston_dataset.data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [6]:
boston_dataset.data.shape

(506, 13)

In [7]:
boston_dataset.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [8]:
polynomial_transformer = PolynomialFeatures(2)

In [9]:
polynomial_data= polynomial_transformer.fit_transform(boston_dataset.data)
polynomial_data.shape

(506, 105)

In [11]:
polynomial_feature_names= polynomial_transformer.get_feature_names(boston_dataset.feature_names)
polynomial_feature_names

['1',
 'CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT',
 'CRIM^2',
 'CRIM ZN',
 'CRIM INDUS',
 'CRIM CHAS',
 'CRIM NOX',
 'CRIM RM',
 'CRIM AGE',
 'CRIM DIS',
 'CRIM RAD',
 'CRIM TAX',
 'CRIM PTRATIO',
 'CRIM B',
 'CRIM LSTAT',
 'ZN^2',
 'ZN INDUS',
 'ZN CHAS',
 'ZN NOX',
 'ZN RM',
 'ZN AGE',
 'ZN DIS',
 'ZN RAD',
 'ZN TAX',
 'ZN PTRATIO',
 'ZN B',
 'ZN LSTAT',
 'INDUS^2',
 'INDUS CHAS',
 'INDUS NOX',
 'INDUS RM',
 'INDUS AGE',
 'INDUS DIS',
 'INDUS RAD',
 'INDUS TAX',
 'INDUS PTRATIO',
 'INDUS B',
 'INDUS LSTAT',
 'CHAS^2',
 'CHAS NOX',
 'CHAS RM',
 'CHAS AGE',
 'CHAS DIS',
 'CHAS RAD',
 'CHAS TAX',
 'CHAS PTRATIO',
 'CHAS B',
 'CHAS LSTAT',
 'NOX^2',
 'NOX RM',
 'NOX AGE',
 'NOX DIS',
 'NOX RAD',
 'NOX TAX',
 'NOX PTRATIO',
 'NOX B',
 'NOX LSTAT',
 'RM^2',
 'RM AGE',
 'RM DIS',
 'RM RAD',
 'RM TAX',
 'RM PTRATIO',
 'RM B',
 'RM LSTAT',
 'AGE^2',
 'AGE DIS',
 'AGE RAD',
 'AGE TAX',
 'AGE PTRATIO',
 'AGE B',
 'AGE LSTAT',
 'DIS^2',
 'DIS RAD',
 'DIS TAX',
 'DIS PTRATIO',
 'DIS B',
 'DIS LSTAT',
 'RAD^2',
 'RAD TAX',
 'RAD PTRATIO',
 'RAD B',
 'RAD LSTAT',
 'TAX^2',
 'TAX PTRATIO',
 'TAX B',
 'TAX LSTAT',
 'PTRATIO^2',
 'PTRATIO B',
 'PTRATIO LSTAT',
 'B^2',
 'B LSTAT',
 'LSTAT^2']

In [13]:
X=pd.DataFrame(polynomial_data, columns=polynomial_feature_names)
y=pd.DataFrame(boston_dataset.target,columns=['MEDV'])

In [14]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=5)

In [17]:
model=LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [18]:
model.coef_
model.intercept_

array([-141.89855578])

In [19]:
y_test_prediction=model.predict(X_test)

In [20]:
mean_squared_error(y_test, y_test_prediction)**0.5

3.1965276508582234

In [22]:
y_test

     MEDV
226  37.6
292  27.9
90   22.6
373  13.8
273  35.2
..    ...
349  26.6
212  22.4
156  13.1
480  23.0
248  24.5

[102 rows x 1 columns]

In [23]:
y_test_prediction

array([[42.00919669],
       [28.22372856],
       [25.52688254],
       [ 9.05454749],
       [33.59039809],
       [10.49656654],
       [23.0597188 ],
       [30.35330832],
       [24.2246103 ],
       [22.30153138],
       [33.11791368],
       [20.74987645],
       [20.19664017],
       [32.37012974],
       [27.35813074],
       [20.46264672],
       [13.68533394],
       [12.51890372],
       [15.88730519],
       [12.47719001],
       [ 3.72827179],
       [20.49819423],
       [44.09350121],
       [23.31624023],
       [33.2791559 ],
       [ 9.43400658],
       [24.71325022],
       [21.79459244],
       [24.06481668],
       [27.42603119],
       [15.32893991],
       [ 6.80742072],
       [16.76243455],
       [13.13446141],
       [25.10746984],
       [22.92666538],
       [29.58310464],
       [10.66362649],
       [47.75889196],
       [35.24353036],
       [19.90943076],
       [15.25028015],
       [28.15702648],
       [14.02415348],
       [26.11171521],
       [28.60093424],
       [15.67989876],
       [18.96653866],
       [20.2094799 ],
       [14.03412949],
       [21.76275324],
       [22.26202923],
       [22.01832275],
       [15.44624876],
       [15.75821427],
       [26.30451802],
       [40.97147443],
       [14.50276206],
       [29.38387137],
       [21.7344614 ],
       [18.72108633],
       [24.58475299],
       [14.30971895],
       [36.2957301 ],
       [26.41019983],
       [10.60479846],
       [16.95708372],
       [25.40357712],
       [19.58512193],
       [23.68506526],
       [17.25699198],
       [25.70209368],
       [19.19027768],
       [17.10127191],
       [25.97538909],
       [35.71667305],
       [18.64188922],
       [16.7998696 ],
       [32.78563688],
       [18.59741003],
       [23.8242383 ],
       [47.50058679],
       [16.57878218],
       [15.55546443],
       [18.9641561 ],
       [13.33721797],
       [17.9904616 ],
       [11.18279003],
       [18.12553764],
       [26.27579668],
       [43.45299777],
       [16.14481126],
       [22.7183893 ],
       [15.7059831 ],
       [23.34912323],
       [27.87151635],
       [ 6.2340683 ],
       [28.0283978 ],
       [23.11806281],
       [11.24273731],
       [23.3974143 ],
       [21.98207125]])

# 로지스틱

### scikit-learn 로지스틱 회귀 데이터 준비

In [25]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import pandas as pd

In [26]:
iris_data=load_iris()

In [39]:
X= pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
y= pd.DataFrame(iris_data.target,columns=["class"])

In [40]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [41]:
y

     class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

In [42]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=5)

In [43]:
y_train=y_train.values.ravel()

In [44]:
model=LogisticRegression(solver='saga',max_iter=2000)

In [45]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=2000, solver='saga')

In [46]:
model.predict(X_test)

array([1, 2, 2, 0, 2, 1, 0, 2, 0, 1, 1, 2, 2, 2, 0, 0, 2, 2, 0, 0, 1, 2,
       0, 1, 1, 2, 1, 1, 1, 2])

In [47]:
model.score(X_test,y_test)

0.9666666666666667