In [1]:
import random
a= random.randrange(1,4)
print(a)

2

In [2]:
상품=['Apple','Banana','Peach']
가격=[300,200,100]

In [3]:
i=0
sale_list=[]
for v in range(50):
    num=random.randint(0,2)
    i+=1
    sale_list.append(i)
    sale_list.append(상품[num])
    sale_list.append(가격[num])
print(sale_list)

[1, 'Peach', 100, 2, 'Peach', 100, 3, 'Banana', 200, 4, 'Peach', 100, 5, 'Peach', 100, 6, 'Banana', 200, 7, 'Apple', 300, 8, 'Banana', 200, 9, 'Apple', 300, 10, 'Apple', 300, 11, 'Banana', 200, 12, 'Apple', 300, 13, 'Apple', 300, 14, 'Peach', 100, 15, 'Banana', 200, 16, 'Banana', 200, 17, 'Apple', 300, 18, 'Apple', 300, 19, 'Apple', 300, 20, 'Banana', 200, 21, 'Banana', 200, 22, 'Peach', 100, 23, 'Apple', 300, 24, 'Apple', 300, 25, 'Peach', 100, 26, 'Peach', 100, 27, 'Peach', 100, 28, 'Peach', 100, 29, 'Peach', 100, 30, 'Peach', 100, 31, 'Banana', 200, 32, 'Banana', 200, 33, 'Apple', 300, 34, 'Peach', 100, 35, 'Banana', 200, 36, 'Peach', 100, 37, 'Banana', 200, 38, 'Apple', 300, 39, 'Banana', 200, 40, 'Banana', 200, 41, 'Apple', 300, 42, 'Peach', 100, 43, 'Apple', 300, 44, 'Banana', 200, 45, 'Apple', 300, 46, 'Peach', 100, 47, 'Banana', 200, 48, 'Apple', 300, 49, 'Peach', 100, 50, 'Banana', 200]

In [4]:
f=open('data.csv','w')
i=0
sale_list=[]
for v in range(50):
    num=random.randint(0,2)
    i+=1
    sale_info=f'{i}, {상품[num]}, {가격[num]}'
    sale_list.append(sale_info)
    print(sale_list[v])
    f.write(sale_info)
print(sale_list)
print(type(sale_list))
f.close()

1, Banana, 200
2, Apple, 300
3, Peach, 100
4, Peach, 100
5, Apple, 300
6, Apple, 300
7, Apple, 300
8, Apple, 300
9, Apple, 300
10, Banana, 200
11, Peach, 100
12, Peach, 100
13, Apple, 300
14, Peach, 100
15, Banana, 200
16, Apple, 300
17, Peach, 100
18, Peach, 100
19, Peach, 100
20, Peach, 100
21, Peach, 100
22, Peach, 100
23, Banana, 200
24, Banana, 200
25, Apple, 300
26, Apple, 300
27, Peach, 100
28, Peach, 100
29, Apple, 300
30, Apple, 300
31, Banana, 200
32, Banana, 200
33, Banana, 200
34, Banana, 200
35, Apple, 300
36, Apple, 300
37, Banana, 200
38, Apple, 300
39, Apple, 300
40, Apple, 300
41, Apple, 300
42, Banana, 200
43, Banana, 200
44, Peach, 100
45, Peach, 100
46, Banana, 200
47, Apple, 300
48, Banana, 200
49, Banana, 200
50, Banana, 200
['1, Banana, 200', '2, Apple, 300', '3, Peach, 100', '4, Peach, 100', '5, Apple, 300', '6, Apple, 300', '7, Apple, 300', '8, Apple, 300', '9, Apple, 300', '10, Banana, 200', '11, Peach, 100', '12, Peach, 100', '13, Apple, 300', '14, Peach, 100', '15, Banana, 200', '16, Apple, 300', '17, Peach, 100', '18, Peach, 100', '19, Peach, 100', '20, Peach, 100', '21, Peach, 100', '22, Peach, 100', '23, Banana, 200', '24, Banana, 200', '25, Apple, 300', '26, Apple, 300', '27, Peach, 100', '28, Peach, 100', '29, Apple, 300', '30, Apple, 300', '31, Banana, 200', '32, Banana, 200', '33, Banana, 200', '34, Banana, 200', '35, Apple, 300', '36, Apple, 300', '37, Banana, 200', '38, Apple, 300', '39, Apple, 300', '40, Apple, 300', '41, Apple, 300', '42, Banana, 200', '43, Banana, 200', '44, Peach, 100', '45, Peach, 100', '46, Banana, 200', '47, Apple, 300', '48, Banana, 200', '49, Banana, 200', '50, Banana, 200']
<class 'list'>

In [5]:
list_1=[1,2,3,4,5]
list_2=[6,7,8,9,10]
list_1+list_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
import numpy as np
list_3=[11,12,13,14,15]
array1=np.array((list_1,list_2,list_3))
array2=np.array((list_2))

In [9]:
array1

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [10]:
array1.shape

(3, 5)

In [11]:
import pandas as pd

In [12]:
score=[['heo',90,86],['lee',70,60],['kim',90,76],['park',88,85]]
df=pd.DataFrame(score,columns=['name','math score','Eng score'])
df

   name  math score  Eng score
0   heo          90         86
1   lee          70         60
2   kim          90         76
3  park          88         85

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.columns

Index(['name', 'math score', 'Eng score'], dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
df.dtypes

name          object
math score     int64
Eng score      int64
dtype: object

In [18]:
score_list=score
score_array=np.array(score)
list_of_series=[
    pd.Series(['heo',90,86]),
    pd.Series(['lee',89,31]),
    pd.Series(['kim',68,91]),
    pd.Series(['park',88,75])
]

In [19]:
df1=pd.DataFrame(score_list)#list형
df2=pd.DataFrame(score_array)#numpy형으로 할 수도 있고
df3=pd.DataFrame(list_of_series)#Series가 여러개 모이면 core임

print(df1)
print(df2)
print(df3)

      0   1   2
0   heo  90  86
1   lee  70  60
2   kim  90  76
3  park  88  85
      0   1   2
0   heo  90  86
1   lee  70  60
2   kim  90  76
3  park  88  85
      0   1   2
0   heo  90  86
1   lee  89  31
2   kim  68  91
3  park  88  75

In [23]:
type(df1)

pandas.core.frame.DataFrame

In [24]:
type(df2)

pandas.core.frame.DataFrame

In [25]:
type(df3)

pandas.core.frame.DataFrame

In [26]:
names = ['heo','lee','kim','park']
math_scores=[8,89,68,88]
eng_scores=[86,31,91,75]

dic1={
    'names':names,
    'english score':eng_scores,
    'math score' :math_scores
}

dic2={
    'names':np.array(names),
    'english score':np.array(eng_scores),
    'math score' :np.array(math_scores)
}

dic3={
    'names':pd.Series(names),
    'english socre':pd.Series(eng_scores),
    'math score':pd.Series(math_scores),
}

In [28]:
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
df3=pd.DataFrame(dic3)
print(df1)
print(df2)
print(df3)

  names  english score  math score
0   heo             86           8
1   lee             31          89
2   kim             91          68
3  park             75          88
  names  english score  math score
0   heo             86           8
1   lee             31          89
2   kim             91          68
3  park             75          88
  names  english socre  math score
0   heo             86           8
1   lee             31          89
2   kim             91          68
3  park             75          88

In [40]:
iphone_df=pd.read_csv('C:/Users/Win10/머신러닝 스터디/iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes