* 1부터 3까지 정수를 랜덤하게 나오게 함.

In [ ]:
import random
a=random.randrange(1,4)
print(a)

In [5]:
상품=['Apple','Banana','Peach']
가격=[3000,2000,1000]

In [6]:
i=0
sale_list=[]
for v in range(50):
    num=random.randint(0,2)
    i+=1
    sale_list.append(i)
    sale_list.append(상품[num])
    sale_list.append(가격[num])
print(sale_list)

[1, 'Banana', 2000, 2, 'Apple', 3000, 3, 'Banana', 2000, 4, 'Apple', 3000, 5, 'Apple', 3000, 6, 'Banana', 2000, 7, 'Banana', 2000, 8, 'Banana', 2000, 9, 'Banana', 2000, 10, 'Banana', 2000, 11, 'Apple', 3000, 12, 'Banana', 2000, 13, 'Banana', 2000, 14, 'Peach', 1000, 15, 'Peach', 1000, 16, 'Apple', 3000, 17, 'Peach', 1000, 18, 'Apple', 3000, 19, 'Peach', 1000, 20, 'Peach', 1000, 21, 'Banana', 2000, 22, 'Apple', 3000, 23, 'Peach', 1000, 24, 'Apple', 3000, 25, 'Apple', 3000, 26, 'Banana', 2000, 27, 'Apple', 3000, 28, 'Peach', 1000, 29, 'Banana', 2000, 30, 'Peach', 1000, 31, 'Peach', 1000, 32, 'Peach', 1000, 33, 'Peach', 1000, 34, 'Peach', 1000, 35, 'Banana', 2000, 36, 'Banana', 2000, 37, 'Banana', 2000, 38, 'Apple', 3000, 39, 'Peach', 1000, 40, 'Apple', 3000, 41, 'Banana', 2000, 42, 'Banana', 2000, 43, 'Peach', 1000, 44, 'Peach', 1000, 45, 'Peach', 1000, 46, 'Apple', 3000, 47, 'Banana', 2000, 48, 'Peach', 1000, 49, 'Apple', 3000, 50, 'Peach', 1000]

In [8]:
f=open('data3.csv','w')
i=0
sale_list=[]
for v in range(50):
    num=random.randint(0,2)
    i+=1
    sale_info=f'{i}, {상품[num]}, {가격[num]}'
    sale_list.append(sale_info)
    print(sale_list[v])
#    sale_list.append(i)
#    sale_list.append(상품[num])
#    sale_list.append(가격[num])
#    f.write(str(sale_list)+"\n")
    f.write(sale_info)
print(sale_list)
print(type(sale_list))
f.close()

1, Apple, 3000
2, Peach, 1000
3, Apple, 3000
4, Banana, 2000
5, Apple, 3000
6, Apple, 3000
7, Banana, 2000
8, Peach, 1000
9, Apple, 3000
10, Banana, 2000
11, Peach, 1000
12, Peach, 1000
13, Apple, 3000
14, Peach, 1000
15, Banana, 2000
16, Banana, 2000
17, Peach, 1000
18, Banana, 2000
19, Peach, 1000
20, Peach, 1000
21, Peach, 1000
22, Peach, 1000
23, Peach, 1000
24, Peach, 1000
25, Banana, 2000
26, Peach, 1000
27, Peach, 1000
28, Banana, 2000
29, Banana, 2000
30, Apple, 3000
31, Apple, 3000
32, Banana, 2000
33, Banana, 2000
34, Banana, 2000
35, Banana, 2000
36, Apple, 3000
37, Peach, 1000
38, Banana, 2000
39, Peach, 1000
40, Peach, 1000
41, Apple, 3000
42, Banana, 2000
43, Apple, 3000
44, Banana, 2000
45, Apple, 3000
46, Peach, 1000
47, Banana, 2000
48, Peach, 1000
49, Apple, 3000
50, Apple, 3000
['1, Apple, 3000', '2, Peach, 1000', '3, Apple, 3000', '4, Banana, 2000', '5, Apple, 3000', '6, Apple, 3000', '7, Banana, 2000', '8, Peach, 1000', '9, Apple, 3000', '10, Banana, 2000', '11, Peach, 1000', '12, Peach, 1000', '13, Apple, 3000', '14, Peach, 1000', '15, Banana, 2000', '16, Banana, 2000', '17, Peach, 1000', '18, Banana, 2000', '19, Peach, 1000', '20, Peach, 1000', '21, Peach, 1000', '22, Peach, 1000', '23, Peach, 1000', '24, Peach, 1000', '25, Banana, 2000', '26, Peach, 1000', '27, Peach, 1000', '28, Banana, 2000', '29, Banana, 2000', '30, Apple, 3000', '31, Apple, 3000', '32, Banana, 2000', '33, Banana, 2000', '34, Banana, 2000', '35, Banana, 2000', '36, Apple, 3000', '37, Peach, 1000', '38, Banana, 2000', '39, Peach, 1000', '40, Peach, 1000', '41, Apple, 3000', '42, Banana, 2000', '43, Apple, 3000', '44, Banana, 2000', '45, Apple, 3000', '46, Peach, 1000', '47, Banana, 2000', '48, Peach, 1000', '49, Apple, 3000', '50, Apple, 3000']
<class 'list'>

In [9]:
list_1 = [1,2,3,4,5]
list_2=[2,4,6,8,10]
list_1+list_2

[1, 2, 3, 4, 5, 2, 4, 6, 8, 10]

In [32]:
import numpy as np
array1=np.array((list_1,list_2))
array2=np.array(list_2)

In [33]:
array1

array([[ 1,  2,  3,  4,  5],
       [ 2,  4,  6,  8, 10]])

In [34]:
data=[[1,2,3,4],[5,6,7,8]]
data

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [35]:
array1.shape

(2, 5)

In [36]:
array3=numpy.random.random(6)
print(array3)
print(type(array3))

[0.65905589 0.61149719 0.13782354 0.44066237 0.77995075 0.37492652]
<class 'numpy.ndarray'>

In [37]:
import pandas as pd

In [38]:
score = [['heo',90,86],['lee',89,31],['kim',68,91],['park',88,75]]
df = pd.DataFrame(score, columns=['name','math score','Eng score'])
df

   name  math score  Eng score
0   heo          90         86
1   lee          89         31
2   kim          68         91
3  park          88         75

In [39]:
type(df)

pandas.core.frame.DataFrame

In [40]:
df.columns

Index(['name', 'math score', 'Eng score'], dtype='object')

In [41]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [42]:
df.dtypes

name          object
math score     int64
Eng score      int64
dtype: object

In [44]:
score_list=score
score_array=np.array(score)
score_array=np.array(score)
list_of_series=[
    pd.Series(['heo',90,86]),
    pd.Series(['lee',89,31]),
    pd.Series(['kim',68,91]),
    pd.Series(['park',88,75])
]

In [46]:
df1=pd.DataFrame(score_list)#list형
df2=pd.DataFrame(score_array)#numpy형으로 할 수도 있고
df3=pd.DataFrame(list_of_series)#Series가 여러개 모이면 core임

print(df1)
print(df2)
print(df3)

      0   1   2
0   heo  90  86
1   lee  89  31
2   kim  68  91
3  park  88  75
      0   1   2
0   heo  90  86
1   lee  89  31
2   kim  68  91
3  park  88  75
      0   1   2
0   heo  90  86
1   lee  89  31
2   kim  68  91
3  park  88  75

In [51]:
names = ['heo','lee','kim','park']
math_scores=[8,89,68,88]
eng_scores=[86,31,91,75]
dic1={
    'names':names,
    'english score':eng_scores,
    'math score' :math_scores
}
dic2={
    'names':np.array(names),
    'english score':np.array(eng_scores),
    'math score' :np.array(math_scores)
}

dic3={
    'names':pd.Series(names),
    'english socre':pd.Series(eng_scores),
    'math score':pd.Series(math_scores),

}

In [52]:
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
df3=pd.DataFrame(dic3)
print(df1)
print(df2)
print(df3)

  names  english score  math score
0   heo             86           8
1   lee             31          89
2   kim             91          68
3  park             75          88
  names  english score  math score
0   heo             86           8
1   lee             31          89
2   kim             91          68
3  park             75          88
  names  english socre  math score
0   heo             86           8
1   lee             31          89
2   kim             91          68
3  park             75          88

In [53]:
iphone_df=pd.read_csv('iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes